@import "tailwindcss";

@theme {
  --color-primary: #7dd3fc;
  --color-primary-light: #4488D0;
  --color-primary-dark: #7dd3fc;
  --color-secondary: #c68107;
  --color-secondary-light: #efa72b;
}

:root {
  background-color: #fffbeb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
